@import "../config/fonts.scss";
@import "../config/colors.scss";
@import "../utils/mixins";

* {
  margin: 0;
  padding: 0;
}

.Day {
  &-item {
    border: 2px solid $color-primary-100;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    padding: 14px 14px;
    text-align: center;

    display: flex;
    flex-direction: column;
    transition: 200ms;

    h2 {
      font: $font-header-m;
      text-transform: uppercase;
      background-color: $color-bg-200;
      padding: 8px 16px;
    }

    span {
      font: $font-header-l;
      margin-top: 24px;
    }

    &:hover {
      background-color: $color-primary-100;
      color: $color-bg-400;

      h2 {
        background-color: $color-bg-400;
        color: white;
      }
    }
  }

  &-active {
    background-color: $color-primary-200;
    color: $color-bg-400;

    h2 {
      background-color: $color-bg-400;
      color: white;
    }
  }
}