@font-face {
    font-family: 'InputSans';
    src: url('InputSans-Bold.woff2') format('woff2'),
        url('InputSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'InputSans';
    src: url('InputSans-Regular.woff2') format('woff2'),
        url('InputSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

