// Primary
$color-primary-100: #FFB9A9;
$color-primary-200: #F27A5E;
$color-primary-300: #BF4539;

// Primary transparent
$color-primary-o-50: #F27A5E80;
$color-primary-o-25: #F27A5E40;
$color-primary-o-15: #F27A5E26;

// Background
$color-bg-100: #91A2AE;
$color-bg-200: #3E4951;
$color-bg-300: #141D3F;
$color-bg-400: #070E26;

//System
$color-error: #FF3232;
$color-correct: #5EF27F;

/* HEX table:

100% — FF
95% — F2
90% — E6
85% — D9
80% — CC
75% — BF
70% — B3
65% — A6
60% — 99
55% — 8C
50% — 80
45% — 73
40% — 66
35% — 59
30% — 4D
25% — 40
20% — 33
15% — 26
10% — 1A
5% — 0D
0% — 00
*/