@font-face {
  font-family: "InputSans";
  src: url("../fonts/InputSans-Bold.woff2") format("woff2"),
      url("../fonts/InputSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "InputSans";
  src: url("../fonts/InputSans-Regular.woff2") format("woff2"),
      url("../fonts/InputSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "config/fonts.scss";
@import "config/colors.scss";

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-bg-400;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
